.Loading {
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
}

.LoadingIcon{
  display: flex;
  text-align: center;
  flex-direction: row;
  justify-content: center;
}
